.logo_class {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.login_logo {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.error {
  color: #ca3844;
  font-size: 1rem;
}
.cardClass {
  box-shadow: none;
  margin: 0 1rem;
  padding: 20px;
  p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.2rem;
    padding: 10px;
  }

  .forgot_header {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }

  .forgot_p {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
    padding: 5px;
  }

  .user_type {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;

    label {
      color: #8181a5;
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize;
    }

    select {
      border: none;
      border-bottom: 1px solid #eeeeee;
      width: 100%;
      color: #000000;
      padding: 0.4rem 0;
    }
  }

  .button_class {
    width: 100%;
    color: #ffffff;
    background-color: #1b51e5;
    font-weight: 600;
    margin: 0.5rem 0 1.3rem;
    border: 0;
    padding: 0.9rem 0;
    border-radius: 4px;
    font-size: 1rem;
  }

  .confirm_button {
    width: 100%;
    color: #ffffff;
    background-color: #1b51e5;
    font-weight: 600;
    margin: 0.5rem 0 1.3rem;
    border: 0;
    padding: 0.9rem 0;
    border-radius: 5px;
  }

  .verify_div {
    margin: 1.5rem 0 0.4rem;
    .verify_button {
      color: #ffffff;
      background-color: #1b51e5;
      font-weight: 500;
      border: 0;
      padding: 0.3rem 0.8rem;
      border-radius: 5px;
    }

    .cancel_button {
      background-color: #ffffff;
      color: #1b51e5;
      font-weight: 500;
      border: 1px solid #1b51e5;
      padding: 0.3rem 0.9rem;
      border-radius: 5px;
      float: right;
    }
  }

  .name_icon {
    top: 11rem;
  }

  .email_icon {
    top: 15rem;
  }

  .password_icon {
    top: 19rem;
  }

  .login_email_icon {
    top: 16.2rem;
  }

  .login_password_icon {
    top: 20rem;
  }
}

.account {
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0;

  a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.2rem;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
}

.login_account {
  margin-bottom: 0;
}

p.forgot_password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 10px 0;

  a {
    font-weight: 400;
    color: #000;
    font-size: 0.9rem;
    color: #1b51e5;
    font-weight: 500;
    text-decoration: underline;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
}

@media (min-width: 360px) {
  .logo_class {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .cardClass {
    .name_icon {
      top: 16.2rem;
    }

    .email_icon {
      top: 20rem;
    }

    .password_icon {
      top: 24rem;
    }
  }
}

@media (min-width: 765px) {
  .cardClass {
    width: 60%;
    margin: 0.6rem auto 0;
    padding: 0 1rem;

    .name_icon {
      top: 16.5rem;
    }

    .email_icon {
      top: 20.5rem;
    }

    .password_icon {
      top: 24.4rem;
    }

    .login_email_icon {
      top: 17rem;
    }

    .login_password_icon {
      top: 20.8rem;
    }
  }

  @media (min-width: 1024px) {
    .cardClass {
      width: 30% !important;
      padding: 1rem 2rem;
    }
  }
}
